BASE_DOMAIN=seudominio.com
ADMIN_EMAIL=seu@email.com
ADMIN_PASSWORD_HASH=gerar_com_php_-r_password_hash
APPS_PATH=/var/www
TERMINAL_URL=https://terminal.seudominio.com
CF_TOKEN=
CF_ZONE_ID=
CF_TUNNEL_ID=
